<h1>Angular</h1>

<% @angular_items.each do |angular| %>
  <%= image_tag angular.main_image %>
  <h2><%= angular.title %></h2>
  <em><%= angular.subtitle %></em>
  <p><%= angular.body %></p>

<div>
  <div><%= link_to 'Edit', edit_portfolio_path(angular) if logged_in?(:site_admin)%></div>
  <div><%= link_to 'Delete', portfolio_path(angular), method: :Delete, data: {confirm: 'Are you sure?'} if logged_in?(:site_admin)%></div>
</div>
<% end %>

<div>
<%= link_to 'Create new', new_portfolio_path if logged_in?(:site_admin)%>
</div>